@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');



/*---------General---------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: black;
} */

h1 {
  color: #7BF4DC;
  font-family: 'Abril Fatface', cursive;
}

p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}


/*---------Logo---------*/





/*---------Menu---------*/

.menu{
  font-family: 'Abril Fatface', cursive;
  color: #7BF4DC;
  text-decoration: none;
}



/*---------Hero section---------*/






/*---------Footer---------*/





