@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');



/*---------General---------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: black;
} */

h1 {
  color: #67E8C4;
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}

p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}


/*---------Logo---------*/





/*---------Menu---------*/

.menu{
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}



/*---------Random---------*/

#slogan{
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 0.7em;
}

h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}

.ContainerButton{
  display: flex;
}

#RandomButton{
  width:80%;
  height: 50px;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2em;
  background-color: #67E8C4;
  color: white;
  border-radius: 10px;
  border:none;
  margin:auto;
}

#RandomButton:hover{
  cursor: pointer;
}


/*---------Card---------*/

#result{
  width: 70%;
}

.ContainerResult{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#charityImage{
  height: 100px;
  width: auto;
}

img{
  max-width: 100%;
  max-height: 100%;
}

#charityName{
  font-size: 1.5em !important;
  color: #67E8C4;
  text-align: center;
}

h4{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.1em;
  font-style: bold;
}

#charityDescription{
  font-family: 'Montserrat', sans-serif !important;
  color: black;
}


.MuiPaper-elevation1{
  box-shadow: 
  0px 2px 1px -1px #67E8C4, 
  0px 1px 1px 0px #67E8C4, 
  0px 1px 3px 0px #67E8C4;
}




/*---------Footer---------*/





